:root {
    --theme-color: rgb(255, 255, 255);
}

.bgblack {
    background-color: black;
}

.carousel-img-width {
    width: 80%;
}

.centerit {
    margin: auto;
}

.carousel img {
    text-align: center;
    margin: auto;
}
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

h1:not(.project-title) {
    text-align: center;
}

h1, h2, h3 {
    font-weight: normal;
}

p {
    line-height: 40px;
    margin-bottom: 40px;
}

nav {
    height: 57px;
    z-index: 1;
}

.navbar-tab {
    text-decoration: none;
    color: var(--theme-color);
    margin: 0 20px;
    padding: 20px;
    font-size: 18px;
}


.navbar-tab:hover, .navbar-tab:active {
    color: black;
    background-color: var(--theme-color);
}

.spacer {
    width: 100%;
    height: 30%;
}

.university-seal {
    width: 20%;
    margin: 60px;
    vertical-align: middle;
}

#navbar {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
   
}

#welcome-section {
    display: block;
    text-align: center;
    margin-bottom: 0;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1640&q=80");
    background-size: cover;
}

#welcome-message {
    margin: -80px 60px 30px 60px;
    color: white;
    backdrop-filter: blur(5px);
    border-radius: 6px;
    font-size: 200%;
}

.section-title {
    font-size: 2.3rem;
    padding: 20px;
    top: 0;
}

#about-me {
    margin-top: 0;
    padding-top: 1px;
}

#info-about-me {
    margin: 0 50px;
}

#profile-picture {
    display: inline;
    margin-left: 20%;
}

#projects {
    background-color: rgb(235, 247, 253);
    padding: 20px;
}

.project-tile {
    border-radius: 5px;
    width: 40%;
    text-align: center;
    margin: 30px;
    padding: 0 auto;
    display: inline-block;
    box-shadow: 2px 4px 4px grey;
}

/* TODO change this fitness app marketing page card to be a screen shot of the
    project*/
a #fitness-app-marketing-page:hover {
    background-color: #963429;
}

#fitness-app-marketing-page {
    background-color: #e44e3d;
    color: white;
}

#disc-golf-history-page {
    background-color: rgb(223, 223, 223);
    color: black;
}

a #disc-golf-history-page:hover {
    background-color: rgb(170, 166, 166);
}

#technical-documentation-page {
    background-color: rgb(79, 80, 80);
    color: white;
}

a #technical-documentation-page:hover {
    background-color: rgb(44, 44, 44);
}

#product-landing-page {
    background-color: #1C344D;
    color: white;
}

#product-landing-page:hover {
    background-color: #0c1824;
}
#profile-links {
    text-align: center;
}

#profile-links *:not(h1) {
    display: inline-block;
}

.profile-box {
    display: flex;
    text-align: center;
    position: relative;
    margin: 0 50px;
}

#freecodecamp, #github {
    color: rgb(47, 47, 47);
}

#freecodecamp:hover {
    color: rgb(44, 141, 46);
}

#github:hover {
    color: rgb(106, 7, 168);
}

#contact {
    background-color: black;
    color: rgb(190, 189, 189);
    margin: 0;
    padding: 1px;
}

#contact p {
    margin: 0;
}

#email {
    padding-bottom: 30px;
}

#contact-title {
    padding: 0px;
}

#contact-info {
    text-align: center;
}


@media (max-width: 900px) {
    .navbar-tab {
        font-size: .8rem;
        margin: 5px 0;
        padding: 20px 10px;
    }

    .project-tile {
        width: 80%;
    }
}

@media (max-height: 400px) {
    #welcome-section {
        padding-top: 50px;
    }
}